body {
  margin: 0;
  font-family: sans-serif;
}

/*#region Links*/
a {
  text-decoration: none;
}

#sidebar a {
  padding: 2px 10px;
  margin-left: -10px;
}

#sidebar a.is-active {
  background-color: #eee;
}

/*#endregion*/

/*#region Page Transition Anmiation*/
#page-content {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

body.page-is-transitioning #page-content {
  opacity: 0;
}

/*#endregion*/

@tailwind base;
@tailwind components;
@tailwind utilities;